<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="sim_mode" default="false"/>

  <!-- ====================================================== -->
  <!-- SIMULATION                                             -->
  <!-- ====================================================== -->

  <xacro:if value="$(arg sim_mode)">

    <ros2_control name="GazeboSimSystem" type="system">

      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <joint name="front_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="front_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="back_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="back_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

    <gazebo>
      <plugin
        filename="gz_ros2_control-system"
        name="gz_ros2_control::GazeboSimSystem">

        <parameters>
          $(find robot_2_bringup)/config/my_controllers.yaml
        </parameters>

      </plugin>
    </gazebo>

  </xacro:if>


  <!-- ====================================================== -->
  <!-- REAL ROBOT                                             -->
  <!-- ====================================================== -->

  <xacro:unless value="$(arg sim_mode)">

    <ros2_control name="RealRobotSystem" type="system">

      <hardware>
        <plugin>robot_2_hardware/Robot2System</plugin>

        <!-- Arduino serial configuration -->
        <param name="device">/dev/ttyUSB_ARDUINO</param>
        <param name="baud_rate">57600</param>
        <param name="timeout_ms">100</param>

        <!-- Encoder configuration -->
        <param name="encoder_ticks_per_rev">1980</param>

        <!-- Arduino PID period -->
        <param name="pid_period_ms">50</param>

        <!-- Wheel geometry -->
        <param name="wheel_radius">0.0425</param>

      </hardware>


      <!-- ================================================== -->
      <!-- LEFT FRONT                                         -->
      <!-- ================================================== -->

      <joint name="front_left_wheel_joint">

        <command_interface name="velocity"/>

        <state_interface name="position"/>
        <state_interface name="velocity"/>

      </joint>


      <!-- ================================================== -->
      <!-- LEFT REAR                                          -->
      <!-- ================================================== -->

      <joint name="back_left_wheel_joint">

        <command_interface name="velocity"/>

        <state_interface name="position"/>
        <state_interface name="velocity"/>

      </joint>


      <!-- ================================================== -->
      <!-- RIGHT FRONT                                        -->
      <!-- ================================================== -->

      <joint name="front_right_wheel_joint">

        <command_interface name="velocity"/>

        <state_interface name="position"/>
        <state_interface name="velocity"/>

      </joint>


      <!-- ================================================== -->
      <!-- RIGHT REAR                                         -->
      <!-- ================================================== -->

      <joint name="back_right_wheel_joint">

        <command_interface name="velocity"/>

        <state_interface name="position"/>
        <state_interface name="velocity"/>

      </joint>

    </ros2_control>

  </xacro:unless>

</robot>